body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .lotto-container {
    text-align: center;
    font-size: 30px;
  }
  
  .lotto-ball {
    width: 250px;
    height: 250px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-top: 60px;
  }
  
  #generate-button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 30px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 30px;
  }
  
  